/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import url("https://use.typekit.net/jre1bse.css");
/*End of Imported Fonts*/

/*Currently does not do anything*/
/*Would like to use this element to center my title information vertically with my image*/
#titleContent {
  vertical-align: middle;
}

.hidden {
  text-indent: -9999px;
}

#mainContent, #moreInfo {
font-family: courier-std, monospace;
font-weight: 700;
font-style: normal;
body: 100%;
line-height: 135%;
}

#mainContent p:first-child::first-letter {
  font-family: 'courier-std', monospace;
  font-size: 200%;
  font-weight: bold;
}

#mainContent p:first-child::first-line {
  font-size: 100%;
  color: #736520;
}

#titleContent {
  /*font-family: sans-serif;*/
  h1: 200%;
  h3: 112.5%;
  }

@font-face {
  font-family: 'carbontype';
   src: url('../fonts/carbontype/carbontype.eot') format('embedded-opentype'); /*IE9+ Compat Modes*/
   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/carbontype/CarbonType.woff') format('Web Open Font Format'), /*Modern browsers*/
        url('../fonts/carbontype/carbontype.ttf') format('truetype'), /*Safari, Android, iOS*/
        url('../fonts/carbontype/CarbonType.svg') format('SVG Fonts/Shapes'); /*Legacy iOS*/
   font-weight: normal;
   font-style: normal;
}

#mainTitle {
  font-family: 'carbontype', 'Rockwell', 'Baskerville', serif;
  font-weight: normal;

}
.subHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 70%
}
