body {
  background-color: #F2EBDF;
}
#poison {
  color: #736520;
  font-weight: bold;
}
.container {
  width: 600px;
  margin: auto;
  padding: 20px;
}
/*Should, in theory, select for exLink span element*/
/*This style element does not correctly apply color*/
/*#exLink:hover {
  color: #BFAD50;
  font-style: oblique;
}*/

/*a:link,*/
a:visited {
    color: #736520;
    font-weight: bold;
}
a:hover {
    color:#A6A297;
    font-style: oblique;
}
img.align-left{
  float: left;
  margin-right: 10px;
  width: 181px;
  height: 240px;
}
#end {
  text-align: center;
}
