body {
  background-color: #BFA3A3;
  font-size: 100%;
}
.homeContainer {
  background-color: #F0F2F2;
  width: 500px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#navBar {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color:  #F0F2F2;
  width: 500px;
  padding: 20px;
  text-align: center;
}
.menuItem {
  display: inline;
}
#notNav {
  position: relative;
  top: 75px;
}
.siteTitle {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#siteTitleBottom {
  text-align: right;
  width: 500px;
}
