/*Style Sheet for my 1980s Color Website*/

/*Fixes div position relative to viewport. Image will remain in place even if the user scrolls through the webpage.*/
/*Image is placed 50% beyond the left and right side of viewport to ensure no white spaces are left on the browser window sides*/
/*Image size is set to 100% width and height of original image*/
#backgroundImage {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
}

/*Places image within fixed position of div element from previous CSS element*/
/*Absolute position is set by top, left, right, and bottom.*/
/*min-width and min-height ensure image remains at full size*/
#backgroundImage img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

#neonSign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-color: rgb(5, 219, 242, 0.9);
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #F22786;
  font-size: 40px;
}

h3 {
  color: #F22786;
  font-size: 20px;
}
