#navBar, .homeContainer{
  font-family: courier-std, monospace;
  font-weight: 700;
  font-style: normal;
  body: 100%;
  line-height: 135%;
  color: #322C59;
}
h1 {
  font-family: 'Rockwell', 'Baskerville', serif;
  font-weight: normal;
  color: #241F40
}
